<%= form_for @video, :url => video_path(@user), :html => {:multipart => true} do |f| %>
  <%= error_messages(@video) %>

  <p><%= f.label :title %></p>
  <p><%= f.text_field :title %></p>

  <p><%= f.label :description %></p>
  <p><%= f.text_field :description %></p>

  <p>
    <%= f.file_field :src %>
  </p>

  <p><%= f.submit %></p>
<% end %>

